* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #171a1b;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  display: none;
  background: rgba(94, 100, 104, 0.5);
}

.modal .modal-body {
  width: 75%;
  min-width: 400px;
  max-width: 750px;
  min-height: 250px;
  font-size: 36px;
  font-weight: bold;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3rem;
  padding: 2rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #e9e6e3;
  background: #171a1b;
}

.modal .modal-body .playAgainButton {
  margin-top: 1.5rem;
  padding: 0 1rem 0.25rem 1rem;
  font-size: 36px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: none;
  background: none;
}

.modal .modal-body .playAgainButton:focus, .modal .modal-body .playAgainButton:hover {
  border-bottom: 1px solid white;
  outline: none;
}

.pop {
  -webkit-animation: expandAnimation 0.125s;
          animation: expandAnimation 0.125s;
}

@-webkit-keyframes expandAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes expandAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.revealLetter {
  -webkit-animation: revealLetterAnimation 0.75s cubic-bezier(0.01, 1.36, 0.77, 0.69) both;
          animation: revealLetterAnimation 0.75s cubic-bezier(0.01, 1.36, 0.77, 0.69) both;
}

@-webkit-keyframes revealLetterAnimation {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  50% {
    -webkit-transform: translateY(-1rem) scale(1.1);
            transform: translateY(-1rem) scale(1.1);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes revealLetterAnimation {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  50% {
    -webkit-transform: translateY(-1rem) scale(1.1);
            transform: translateY(-1rem) scale(1.1);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

.game-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.game-container .game-countdown {
  margin: 0 auto;
  font-size: 48px;
  color: white;
}

.game-container .game-guesses {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.game-container .game-guesses .guess-instance {
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.game-container .game-guesses .guess-instance .guess-letter {
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  border: 1px solid #e9e6e3;
}
/*# sourceMappingURL=style.css.map */