* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #171a1b;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(94, 100, 104, 0.5);
}

.modal-body {
  width: 750px;
  height: 1000px;
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: slideDown-half 1.75s ease-in-out forwards;
          animation: slideDown-half 1.75s ease-in-out forwards;
  border: 1px solid #e9e6e3;
  background: #171a1b;
}

@-webkit-keyframes slideDown-half {
  from {
    top: -50%;
  }
  to {
    top: 50%;
  }
}

@keyframes slideDown-half {
  from {
    top: -50%;
  }
  to {
    top: 50%;
  }
}

.pop {
  -webkit-animation: expandAnimation 0.125s;
          animation: expandAnimation 0.125s;
}

@-webkit-keyframes expandAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes expandAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.flip {
  -webkit-animation: flipAnimation 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: flipAnimation 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes flipAnimation {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes flipAnimation {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

.game-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.game-container .game-countdown {
  margin: 0 auto;
  font-size: 48px;
  color: white;
}

.game-container .game-guesses {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.game-container .game-guesses .guess-instance {
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.game-container .game-guesses .guess-instance .guess-letter {
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  border: 1px solid #e9e6e3;
}
/*# sourceMappingURL=style.css.map */